body {
	height: 100vh;
	display: flex;
	background-color: white;
	margin: 0;
	justify-content: flex-end;
	align-items: flex-end;
}
#spirit {
	background-color: black;
	width: 10px;
	height: 10px;
	border: none;
	border-radius: 50%;
	position: absolute;
	top: 10px;
	left: 10px;
	display: block;
}
#blackboard {
	width: 350px;
	height: 200px;
	border: 1px solid black;
	border-radius: 10px 0 0 0;
	resize: none;
	padding: 15px;
	outline: none;
}
